<aside th:fragment="sidebar" class="w-60 bg-white shadow-md">
    <nav class="px-3 py-6">
        <ul class="space-y-4">
            <li>
                <a class="flex items-center text-gray-700 hover:text-gray-900" th:href="@{/blogs}">
                    <i class="fas fa-newspaper mr-3"></i>
                    Blog
                </a>
            </li>
            <li>
                <a class="flex items-center text-gray-700 hover:text-gray-900" th:href="@{/sliders}">
                    <i class="fas fa-images mr-3"></i>
                    Slide
                </a>
            </li>
            <li>
                <a class="flex items-center text-gray-700 hover:text-gray-900" th:href="@{/orders/history}">
                    <i class="fas fa-shopping-cart mr-3"></i>
                    Order
                </a>
            </li>
            <li>
                <a class="flex items-center text-gray-700 hover:text-gray-900" th:href="@{/manager/customers}">
                    <i class="fas fa-user-friends mr-3"></i>
                    Customer
                </a>
            </li>
            <li>
                <a class="flex items-center text-gray-700 hover:text-gray-900" th:href="@{/comments/}">
                    <i class="fas fa-comments mr-3"></i>
                    Comments
                </a>
            </li>
        </ul>
    </nav>
</aside>
