<div th:fragment="script">
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/assets/js/admin/noti.js}"></script>
    <script th:src="@{/assets/js/admin/autoFillAddManager.js}"></script>
    <script th:src="@{/assets/js/admin/togglePassword.js}"></script>
    <script th:src="@{/assets/js/admin/redirectToPageManager.js}"></script>
    <script th:src="@{/assets/js/admin/redirectToPageProduct.js}"></script>
    <script th:src="@{/assets/js/admin/addClassifyProduct.js}"></script>
    <script th:src="@{/assets/js/admin/autoFillAddProduct.js}"></script>
</div>