<footer th:fragment="footer" class="footer-area mt-95">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="about-us-footer">
                        <div class="footer-logo">
                            <a href="#"><img th:src="@{assets/img/logo/logo_footer.png}" alt=""></a>
                        </div>
                        <div class="footer-info">
                            <p class="phone">0332671182</p>
                            <p class="desc_footer">Follow us</p>
                            <div class="social_follow">
                                <ul class="social-follow-list">
                                    <li><a th:href="'https://www.facebook.com/hien.nguyenba.7311/?locale=vi_VN'"><i class="fa fa-facebook"></i></a></li>                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="footer-info-inner">
                        <div class="row">
                            <div class="col-lg-2 col-md-6 col-sm-6">

                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">

                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">

                            </div>
                            <div class="col-lg-5 offset-xl-1 col-md-6 col-sm-6">
                                <div class="footer-title">
                                    <h3>Offline shop</h3>
                                </div>
                                <div class="block-contact-text">
                                    <p> Shoe shop<br>123 street Hoa Lac - Ha Noi<br>Viet Nam</p>
                                    <p>Call us: <span>0332671183 </span></p>
                                    <p>Email us: <span>amthambenem@gmail.com</span></p>
                                </div>
                                <div class="time">
                                    <h3 class="time-title">Opening time</h3>
                                    <div class="time-text">
                                        <p>
                                            Open: <span>8:00 AM</span> - Close: <span>18:00 PM</span>
                                            Saturday - Sunday: Close
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>