<header th:fragment="header">
    <!-- header-top start -->
    <div class="header-top bg-black">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-4">
                    <!-- welcome-msg start-->
                    <div class="welcome-msg">
                    </div>
                    <!-- welcome-msg end-->
                </div>
                <div class="col-lg-6 col-md-8">
                    <!-- full-setting-area start -->
                    <div class="full-setting-area">
                        <div class="top-dropdown">
                            <ul>
                                <li class="drodown-show"><a href="#"> Setting <i class="fa fa-angle-down"></i></a>
                                    <ul class="open-dropdown setting">
                                        <li><a href="my-account.html">My account</a></li>
                                        <li><a th:href="@{/login}">Sign in</a></li>
                                        <li><a th:href="@{/logout}">Log out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- full-setting-area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-top end -->

    <!-- header-mid-area start -->
    <div class="header-mid-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col md-custom-12">
                    <!-- logo start -->
                    <div class="logo">
                        <a th:href="@{/}"><img th:src="@{assets/img/logo/logo.png}" alt=""></a>
                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-lg-9 md-custom-12">
                    <!-- shopping-cart-box start -->
                    <div class="shopping-cart-box">
                        <ul>
                            <li>
                                <a th:href="@{/cart}">
                <span class="item-cart-inner">
                    <span class="item-cont" th:text="${session.cartSize == null ? 0 : session.cartSize}">0</span>
                    My Cart
                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- shopping-cart-box end -->

                    <!-- searchbox start -->
                    <!-- searchbox end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-mid-area end -->

    <!-- header-bottom-area start -->
    <div class="header-bottom-area bg-black sticky-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <!-- main-menu-area start -->
                    <div class="main-menu-area">
                        <nav>
                            <ul>
                                <li><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/shop}">Shop</a></li>
                                <li><a th:href="@{/blog}">Blog</a></li>
                                <li><a th:href="@{/contact}">Contact</a></li>
                                <li><a href="javascript:void(0);" onclick="openPolicyModal()">Policy</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- main-menu-area end -->
                </div>
                <div class="col-lg-4">
                    <!-- social-follow-box start -->
                    <div class="social-follow-box">
                        <div class="follow-title">
                            <h2>Follow us:</h2>
                        </div>
                        <ul class="social-follow-list">
                            <li><a th:href="'https://www.facebook.com/hien.nguyenba.7311/?locale=vi_VN'"><i
                                    class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <!-- social-follow-box end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-bottom-area end -->
</header>